@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');

/* Reset minimale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

.main-section {
    padding: 20px;
}

.image-container {
    min-height: 500px;
    background-image: url('natura.png');
    background-size: cover;
    background-position: center;
}

.main-section > h1 {
    font-family: 'Prata', serif;
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 20px;
}

.main-section > h3 {
    font-family: 'Prata', serif; 
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.author-paragraph {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    margin-top: 20px; 
}

.author-paragraph a {
    color: inherit;
    text-decoration: underline;
    font-weight: 600;
    font-style: italic;
}

hr {
    border: 0;
    height: 2px; 
    background-color: #333; 
    font-style: italic; 
    margin: 20px 0; 
}

.related-links-title { 
    padding: 22px;
    margin-top: 56px;
    margin-bottom: 0;
    color: white;
    background: linear-gradient(to right, #76c893, #168aad);
    border-radius: 6px;
    text-align: center; 
}

.related-links-list { 
    list-style-type: none; 
    padding: 0; 
    margin-bottom: 20px; 
}

.related-links-list li {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    border-bottom: 1px solid #dfdfdf;
}

.related-links-list li a {
    text-decoration: none;
    color: #76c893;
}

/* Stile per il footer */
footer {
    padding: 16px;
    background-color: black;
    color: white;
    text-align: left; 
}

footer .footer-link { 
    display: block; 
    text-align: center;
    color: white; 
    text-decoration: none;
    padding: 10px 0; 
}


